extends layout

block content
    .main-container-sub.container
        .row
            .justify-content-center.text-center.col-md-4.offset-md-4
                img.mb-4(src='/diamond.gif', alt='', width='72', height='72')
                h1.h3.mb-3 OH NOES!
                h1.h3.mb-3 Error 404
                img.mb-4(src='/meerkat.jpg', alt='Lost meerkat', width='100%')
                h3 We couldn't find what you are looking for