extends layout

block content
    // The Band Section
    #band.w3-container.w3-content.w3-center.w3-padding-64(style='max-width:800px')
        h2.w3-wide Welcome to Immersive's CMS
        p.w3-opacity
        i Fun to develop
        p.w3-justify I developed this simple web-app as and assingment for the first Immersive Bootcamp of 2018. It was developed using Node.js, Express, Mongo, Pug and many other libraries. 
        .w3-row.w3-padding-32
        .w3-third
            p NodeJS
            img.w3-round.w3-margin-bottom(src='/node-logo.png', alt='Random Name', style='width:60%')
        .w3-third
            p Express
            img.w3-round.w3-margin-bottom(src='/express-logo.png', alt='Random Name', style='width:60%')
        .w3-third
            p MongoDB
            img.w3-round(src='/mongodb-logo.png', alt='Random Name', style='width:60%')
