extends layout

block content
    .main-container-sub.container
        h1.title-default #{title}
        ul.list-group
            each page, i in pages
                li.list-group-item
                    a(href="/pages/"+page._id)= page.title
