extends layout

block content
    .main-container-sub.container
        .row
            .justify-content-center.col-md-4.offset-md-4
                .text-center
                    img.mb-4.img-rad(src='/diamond.gif', alt='', width='72', height='72')
                h1.title-default.text-center Login
                form.form-signin(method='POST', action='/users/login')
                    #form-group
                        label Username:
                        input.form-control(name='username', type='text', placeholder='Username')
                    #form-group
                        label Password:
                        input.form-control(name='password', type='password', placeholder='Password')
                    br
                    input.btn.btn-primary.btn-block(type='submit',value='Submit')